body{
    font-family: 'PT Serif', serif;
}

.bg_yellow{

    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: solid #222222;
}
.aside-buttons ul{
   margin-bottom: 10px;
    
   }
.border-top-dark{
    border-top: 1px solid rgb(141, 136, 136);
}

.list-inline li {
    margin-bottom: 5px !important;
}


